.item-title {
    font-size: 40px;
    margin-left: 10px;
    margin-top: 12px;
}

.status-container {
    margin: 16px 0px 3px 16px;
}

.status-span {
    margin-left: 6px;
}

.favorite-container {
    margin: 0px 0px 3px 16px;
}

.favorite-span {
    margin-left: 6px;
}

.edit-button {
    margin-left: 16px;
    margin-top: 8px;
    padding: 3px 0px;
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(98, 104, 80);
    font-family: inherit;
    font-size: 18px;
    width: 55px;
}

.edit-button:hover {
    cursor: pointer;
    background-color: rgb(185, 141, 69);
    color: white;
}
